.meeting {
  flex: 1;
  padding: 4.5rem 8.3rem 12.25rem 3.5rem;
  display: flex;
  flex-direction: column;
  background-color: #e5e5e5;
}
h1 {
  font-size: 3rem;
  font-weight: 400;
  margin: 0;
}
.meeting__form {
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  background-color: #fff;
  margin-top: 5rem;
  margin-bottom: 2rem;
}
.meeting__form__div {
  margin-right: 5.5rem;
}
input {
  font-size: 1rem;
  border: none;
  border-bottom: 2px solid black;
  padding: 0.5rem;
  /* min-width: 9rem; */
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
}
label {
  margin-right: 7px;
}

.meeting__form__search {
  position: relative;
  top: 0.5rem;
  left: 1.5rem;
  font-size: 15px;
}
.btn {
  background-color: #1e5f74;
  color: #fff;
  border-radius: 0.5rem;
  border: none;
  outline: none;
}

.meeting__table {
  overflow-x: auto;
  min-height: 47vh;
}

table {
  background-color: #fff;
  padding-left: 1rem;
}
td {
  padding: 0.5rem;
}
tr:nth-child(1) {
  color: #1e5f74;
}
